<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
  <script src="../js/index.js"></script>
</head>
<body>
  {{>navbar}}
<br>
  <h1>page loading....</h1>
    <footer id="contact">
    <h2 style="text-align: center;"> Tiffin Seva</h2>
    <p> For any query or complain please contact us at +91 9876543210.</p>
    <hr>
    <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content
      Policies. All trademarks are properties of their respective owners. 2008-2021 © TiffinSeva™ Ltd. All rights
      reserved.</p>
  </footer>


</body>
</html>